body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 100%;
    padding: 0.7em;
    align-items: center;
    gap:2em;
    background-color: #007BFF;
}

.nav button{
    padding: 0.5em;
    border: 0.02em solid white;
    background-color: #007BFF;
    color: white;
    border-radius: 0.8em;
    cursor: pointer;
    font-size: 0.9em;

}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 3em;
    flex-basis: 100%;
}

.card{
    border:0.2em solid #007BFF;
    border-radius: 2em;
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.5em   ;
    overflow: hidden;

}


.corso {
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    background-color: #007BFF99;
    color:white;
    padding:0.9em;

}

.docente{
    padding:0.9em;
    border-bottom: 0.3em solid #007BFF99;
    /* border-top: 0.1em solid #007BFF; */

}

.studenti{
    padding:0.9em;
    border-bottom: 0.3em solid #007BFF99;
}



.opzioni{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1em;
    flex-basis: 100%;
    padding-bottom: 1em;;
}

.opzioni>*{
    padding: 0.7em;
    border: 0.02em solid white;
    background-color: #007BFF99;
    color: white;
    border-radius: 0.8em;
    cursor: pointer;
    font-size: 0.9em;
}

.btn{
    padding: 0.5em;
    border: 0.02em solid white;
    background-color: #007BFF;
    color: white;
    border-radius: 0.8em;
    cursor: pointer;
    font-size: 0.9em;
}